In [1]:
import pandas as pd

In [3]:
json ={
    "job": "Theatre manager",
    "company": "Saunders, Wilson and George",
    "ssn": "432-96-0975",
    "residence": "827 Jones Ridges\nRyanmouth, IN 21698",
    "blood_group": "O+",
    "website": [
        "http://www.cox.com/",
        "http://www.coxa.com/"
    ],
    "username": "frostangela",
    "name": "Douglas Berry",
    "sex": "M",
    "address": "2244 Chavez Meadow\nNew Cheryl, VT 46404",
    "mail": "christopherberg@hotmail.com",
    "birthdate": "1927-02-06"
}

In [4]:

flattended_data = pd.json_normalize(json)
flattended_data = flattended_data.explode("website").reset_index(drop=True)

In [7]:
flattended_data

,job,company,ssn,residence,blood_group,website,username,name,sex,address,mail,birthdate
0,Theatre manager,"Saunders, Wilson and George",432-96-0975,"827 Jones Ridges\nRyanmouth, IN 21698",O+,http://www.cox.com/,frostangela,Douglas Berry,M,"2244 Chavez Meadow\nNew Cheryl, VT 46404",christopherberg@hotmail.com,1927-02-06
1,Theatre manager,"Saunders, Wilson and George",432-96-0975,"827 Jones Ridges\nRyanmouth, IN 21698",O+,http://www.coxa.com/,frostangela,Douglas Berry,M,"2244 Chavez Meadow\nNew Cheryl, VT 46404",christopherberg@hotmail.com,1927-02-06

In [6]:
flattended_data = flattended_data.explode("residence").reset_index(drop=True)

In [8]:
from faker import Faker

In [9]:
faker = Faker()

In [12]:
faker.url()

'http://www.owen.com/'

In [17]:
profile = {
    'website':'some'
}

In [18]:
profile['website'] = [faker.url() for i in range(faker.random_int(min=1, max=5))]

In [19]:
profile

{'website': ['https://crawford-freeman.com/',
  'http://www.wiggins.com/',
  'http://www.johnson-bonilla.net/']}

In [6]:
import os
from connect import engine
import psycopg2

#TODO: 1. Take Data from faker and insert  

cur = engine.cursor()

cur.execute("select * from employee")
record = cur.fetchall()
print(record)

[('Sales', 'Tata', '1234', 'Jorhat', 'A+        ', 'www.abc.com                                                                                                                                                                                                                                                    ', 'Niha21', 'M', 'Malow Ali ', 'niha@gmail.com', '2021-09-08', None, None), ('Theatre manager', 'Saunders, Wilson and George', '432-96-0975', '827 Jones Ridges\nRyanmouth, IN 21698', 'O+        ', 'http://www.cox.com/                                                                                                                                                                                                                                            ', 'frostangela', None, 'M         ', '2244 Chavez Meadow\nNew Cheryl, VT 46404', 'christopherberg@hotmail.com', '1927-02-06', 'Douglas Berry'), ('Theatre manager', 'Saunders, Wilson and George', '432-96-0975', '827 Jones Ridges\nRyanmouth, IN 21698', 'O+        ', 'http://www.coxa.com/                                                                                                                                                                                                                                           ', 'frostangela', None, 'M         ', '2244 Chavez Meadow\nNew Cheryl, VT 46404', 'christopherberg@hotmail.com', '1927-02-06', 'Douglas Berry')]

In [2]:
import json
import pandas as pd

json_string = json.load(open("data/frostangela.json", "r"))

flattended_data = pd.json_normalize(json_string)
flattended_data = flattended_data.explode("website").reset_index(drop=True)

In [3]:
flattended_data

,job,company,ssn,residence,blood_group,website,username,name,sex,address,mail,birthdate
0,Theatre manager,"Saunders, Wilson and George",432-96-0975,"827 Jones Ridges\nRyanmouth, IN 21698",O+,http://www.cox.com/,frostangela,Douglas Berry,M,"2244 Chavez Meadow\nNew Cheryl, VT 46404",christopherberg@hotmail.com,1927-02-06
1,Theatre manager,"Saunders, Wilson and George",432-96-0975,"827 Jones Ridges\nRyanmouth, IN 21698",O+,http://www.coxa.com/,frostangela,Douglas Berry,M,"2244 Chavez Meadow\nNew Cheryl, VT 46404",christopherberg@hotmail.com,1927-02-06

In [4]:
# Create a list of tupples from the dataframe values
tuples = [tuple(x) for x in flattended_data.to_numpy()]
# Comma-separated dataframe columns
cols = ','.join(list(flattended_data.columns))
# SQL quert to execute
query  = "INSERT INTO %s(%s) VALUES(%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s)" % ('employee', cols)

In [5]:
query

'INSERT INTO employee(job,company,ssn,residence,blood_group,website,username,name,sex,address,mail,birthdate) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

In [5]:
try:
    cur.executemany(query, tuples)
    engine.commit()
except (Exception, psycopg2.DatabaseError) as error:
    print("Error: %s" % error)
    engine.rollback()
    cur.close()
print("execute_many() done")

execute_many() done